<h1>Tamanho</h1>

<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' +r['codigotamanho']+ r['descricao']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.descricao" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="tamanhos" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>
<p *ngIf="!tamanhos"><em>Loading...</em></p>



    <div>
 <button type="button" class="btn btn-outline-success" [routerLink]='["/CreateTamanho"]'  ><i class="fas fa-plus-circle"></i></button>    
        <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"    footerHeight="50"
        rowHeight="auto"  headerHeight="50"
        [limit]="5" [sorts]="[{prop: 'name', dir: 'desc'}]">
        <ngx-datatable-column name="Codigo">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.codigotamanho}}
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Descricao">
          <ng-template let-row="row" ngx-datatable-cell-template>
            {{row.descricao}}
          </ng-template>
        </ngx-datatable-column>
      
        <ngx-datatable-column name="">
          <ng-template let-row="row" ngx-datatable-cell-template>
            <span>
                 <td>
                  <button class="btn btn-outline-primary"  (click)="View(row)" placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false" 
                  ngbTooltip="View" >
                 <i class="fa fa-book"  ></i>
                 </button>
                 <button class="btn btn-outline-secondary"   (click)="edit(row)" placement="top" ngbTooltip="Edit">
                   <i class="fa fa-edit"></i>
                   </button>
      
                   <button class="btn btn-outline-info" placement="top"   ngbTooltip="Itens" >
                    <i class="fa fa-bars"></i>
                    </button>
      </span>
          </ng-template>
        </ngx-datatable-column> 
      </ngx-datatable>
      
      
  </div>













