<div class="card m-3">
    <h5 class="card-header">Detalhes Pedido</h5>
        <div class="card-body">
        
           <form [formGroup]="GestaoForm" (ngSubmit)="submitForm()" novalidate>
            <h1>Resumo</h1>
            <div class="form-group" >
              <div class="row">
                <div class="col">
                  <label>Data Pedido</label>
                  <input type="text" formControlName="dataPedido" maxlength="10" class="form-control">
                  
                </div>
                <div class="col">
                  <label>Forma pagamento</label>
                    <input type="text" formControlName="formapagamentoCodigo"  maxlength="10" class="form-control">
                </div>
                <div class="col">
                  <label>Cliente</label>
                    <input type="text" formControlName="codigoPedido"   class="form-control">
                </div>
                
              </div>
              <div class="row">
                <div class="col">
               
                    <label>Valor</label>
                      <input type="text" formControlName="valor"    maxlength="10" class="form-control">
                
                </div>
               
                <div class="col">
                
                  <label>Status  </label>
                  <input type="text" formControlName="status"  maxlength="10"  class="form-control">
              
                  
                </div>
              </div>
            </div>
            <hr>
            <h1>Itens</h1>
         
                <div>
                    <ngx-datatable class="material"
                     [rows]="rows" [columnMode]="'force'"    footerHeight="50"
                    rowHeight="auto"  headerHeight="50"
                   
                    [selected]="selected"
                    [selectionType]="SelectionType.single"
                    (activate)="onActivate($event)"
                    (select)="onSelect($event)"
                    [limit]="5" [sorts]="[{prop: 'name', dir: 'desc'}]">
                   <ngx-datatable-column name="Pedido Item">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.codigoPedidoitem}}
                      </ng-template>
                    </ngx-datatable-column>
                  
                    <ngx-datatable-column name="Produto">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.produto.descricao}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column name="Vl Items">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{ row.valoritem |  currency:'BRL':true:'1.2-2'}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column  name="Qtd. Item">
                      <ng-template let-row="row" ngx-datatable-cell-template>
                        {{row.quantidadeItem}}
                      </ng-template>
                    </ngx-datatable-column>
                    <ngx-datatable-column   name="Status">
                      <ng-template let-row="row" ngx-datatable-cell-template >
                        {{row.status}}
                      </ng-template>
                    </ngx-datatable-column> 
                  
                  </ngx-datatable>
                  
                  </div>
                
                  <hr>
                  <div class="row">
                    <div class="col">    
                    <button class="btn btn-outline-secondary" placement="bottom" type="submit"  ngbTooltip="Voltar" >
                        voltar<i class="fas fa-reply"></i>
                    </button>
                  </div>
                </div>

            </form>
            
        </div>
    </div>


  