<h1>Produtos</h1>
<div class="table-responsive">
<!-- <table class="table table-sm">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Item</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of rows | paginate: config">
      <th scope="row">{{item.descricao}}</th>
      <td>{{item.Valor}}</td>
    </tr>
  </tbody>
</table>

<pagination-controls  [maxSize]="maxSize"
[directionLinks]="directionLinks"
[autoHide]="autoHide"
[responsive]="responsive"
[previousLabel]="labels.previousLabel"
[nextLabel]="labels.nextLabel"
[screenReaderPaginationLabel]="labels.screenReaderPaginationLabel"
[screenReaderPageLabel]="labels.screenReaderPageLabel"
[screenReaderCurrentLabel]="labels.screenReaderCurrentLabel" (pageChange)="pageChanged($event)"></pagination-controls> -->



<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['descricao']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.descricao" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="Produtos" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>
<p *ngIf="!Produtos"><em>Loading...</em></p>

<!-- <div>
  <input
  type="text"
  style="padding:8px;margin:15px auto;width:30%;"
  placeholder=""
  (keyup)="updateFilter($event)"
  />
  </div> -->
<div>

  <button type="button" class="btn btn-outline-success" [routerLink]='["/CreateProduto"]'  ><i class="fas fa-plus-circle"></i></button>
  <ngx-datatable 
  class="material" 
  [rows]="rows" 
  [columnMode]="'force'"    
  footerHeight="50"
  rowHeight="auto"  
  headerHeight="50"
  [limit]="5" 
  [sorts]="[{prop: 'name', dir: 'desc'}]">
  <ngx-datatable-column name="Descricao">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.descricao}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Valor">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.valor| currency:'BRL':true:'1.2-2'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Tamanho">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.tamanho.descricao}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Colecao ">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.colecao.descricao }}
    </ng-template>
  </ngx-datatable-column>
   <ngx-datatable-column name="">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
           <td>
            <button class="btn btn-outline-primary"  (click)="View(row)" placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false" 
            ngbTooltip="View" >
           <i class="fa fa-book"  ></i>
           </button>
           <button class="btn btn-outline-secondary"   (click)="edit(row)" placement="top" ngbTooltip="Edit">
             <i class="fa fa-edit"></i>
             </button>

             <button class="btn btn-outline-info" placement="top"   ngbTooltip="Itens" >
              <i class="fa fa-bars"></i>
              </button>
</span>
    </ng-template>
  </ngx-datatable-column> 
</ngx-datatable>

</div>




</div>



