<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light" is-dark>
    <a class="navbar-brand" routerLink="">  <img width="50"  src="../assets/lavibe.ico">Sistema La Vibe</a>
    <button class="navbar-toggler" type="button"
    (click)="toggleNavbar()">
  <span class="navbar-toggler-icon"></span>
  </button>
 
    <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="" routerLinkActive="active">Home <span class="sr-only">(current)</span></a>
        </li>
      
    
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">Cadastro</a>
          <div class="dropdown-menu">
            <a class="dropdown-item"routerLink="listUsuario" routerLinkActive="active">Cadastrar Usuario</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="ListTamanho" routerLinkActive="active">Cadastrar Tamanho</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  routerLink="ListCliente"  routerLinkActive="active">Cadastrar Cliente</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" routerLink="ListProduto"  routerLinkActive="active">Cadastrar Produto</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"  routerLink="ListColecao"  routerLinkActive="active">Cadastrar Colecao</a>
          </div>
        
        </li>
      </ul>
       
        <li class="nav-item">
          <a class="nav-link" routerLink="ListPedidoComponent" routerLinkActive="active">Vendas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="ListPedidoitem" routerLinkActive="active">Pedidos itens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="modal" routerLinkActive="active">Terms and Conditions</a>
        </li>
      </ul>
      
    </div>
    <app-menu-user></app-menu-user>
  </nav> 
    <!-- <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container">
        <a class="navbar-brand" [routerLink]="['listUsuario']">DevIO.App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <app-menu-user></app-menu-user>
          <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['ListTamanho']">Cadastro tama</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-dark" [routerLink]="['listUsuario']">Lista usu</a>
            </li>
          </ul>
        </div>
      </div>
    </nav> -->
  </header>