<div class="card">
  <h5 class="card-header">Cadastro Produto</h5>
    <div class="card-body">
      <ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
        <p style="color: white" > Cadastrando... </p>
      </ngx-spinner>
      <form [formGroup]="ProdutoForm" (ngSubmit)="submitForm()" novalidate>
                <div class="form-group">
                  <label>descricao</label>
                  <input type="text" id="descricao" formControlName="descricao" class="form-control" maxlength="20" 
                   [ngClass]="{'is-invalid':ProdutoForm.get('descricao').errors && (ProdutoForm.get('descricao').dirty || ProdutoForm.get('descricao').touched)  }">
                  <span class="text-danger" *ngIf="ProdutoForm.get('descricao').errors && (ProdutoForm.get('descricao').dirty || ProdutoForm.get('descricao').touched)  ">
                    <p>Preencha o campo obrigatorio  </p>
                  </span>              
      
                </div>
                <div class="form-group row">
                  <label class="control-label col-md-12" for="Tamanho">Tamanho</label>
                  <div class="col-md-4">
                      <div *ngIf="(tamanhos$ | async) as tam">
                        
                      <select class="form-control" formControlName="codigoTamanho"
                      [ngClass]="{'is-invalid':ProdutoForm.get('codigoTamanho').errors && (ProdutoForm.get('codigoTamanho').dirty 
                           || ProdutoForm.get('codigoTamanho').touched)  }"  >
                          <option  value="0">--Escolha Tamanho--</option>
                          <option *ngFor="let tama of tam "  value={{tama.codigotamanho}}>{{tama.descricao}}</option>
                      </select>
                      </div>
                     
                     
                  </div>
               
                 
              </div>
               <div class="form-group row">
                  <label class="control-label col-md-12" for="colecao">colecao</label>
                  <div class="col-md-4">
                      <div *ngIf="(colecao$ | async) as colecao">
                        
                      <select class="form-control" formControlName="codigocolecao"   [ngClass]="{'is-invalid':ProdutoForm.get('codigocolecao').errors && (ProdutoForm.get('codigocolecao').dirty 
                           || ProdutoForm.get('codigocolecao').touched)  }"  >
                          <option  value="0">--Escolha colecao--</option>
                          <option *ngFor="let col of colecao "  
                          
                           value={{col.codigoColecao}}>{{col.descricao}}</option>
                          
                      </select>
                    
                      </div>
                     
                     
                  </div>
                 
              </div>


                <div class="form-group">
                  
                
                  <label>valor</label>
                  <input type="text" formControlName="valor" class="form-control col-md-2"   currencyMask ="valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" 
                   [ngClass]="{'is-invalid':ProdutoForm.get('valor').errors  && (ProdutoForm.get('valor').dirty || ProdutoForm.get('valor').touched) }">
                  <span class="text-danger" *ngIf="ProdutoForm.get('valor').errors && (ProdutoForm.get('valor').dirty || ProdutoForm.get('valor').touched)">
                    <p>Preencha o campo obrigatorio  </p>
                  </span>
                </div>             
                <div class="form-group row">  
                  <div class="col-md-4">         
                  <button type="submit" class="btn btn-outline-success" placement="bottom" ngbTooltip="Confirmar">ok <i class="fas fa-check"></i></button>
                  
                  <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                      voltar<i class="fas fa-reply"></i>
                  </button>
                  </div>
              </div> 
      </form>
    </div>
</div>
