<div class="card">
    <div class="card-body">
        <h3>Alterar Clientes</h3>
        <form [formGroup]="ClientesForm" (ngSubmit)="submitForm()" novalidate>
          <div class="form-group">
            <label>nome Cliente</label>
            <input type="text" formControlName="nome" class="form-control" maxlength="20"
            [ngClass]="{'is-invalid':ClientesForm.get('nome').errors }" >
            <span class="text-danger" *ngIf="ClientesForm.get('nome').errors">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
            <label>dataNascimento</label>
             <input type="date"  formControlName="dataNascimento"maxlength="10" class="form-control"
             [ngClass]="{'is-invalid':ClientesForm.get('dataNascimento').errors }" >
             <span class="text-danger" *ngIf="ClientesForm.get('dataNascimento').errors">
               <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
             </span>
          </div>
          <div class="form-group">
            <label>instagram</label>
            <input type="text" formControlName="instagram" class="form-control" maxlength="20"
            [ngClass]="{'is-invalid':ClientesForm.get('instagram').errors }" >
            <span class="text-danger" *ngIf="ClientesForm.get('instagram').errors">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
            <label>whatsapp</label>
            <input type="text" formControlName="whatsapp" class="form-control" maxlength="20"
            [ngClass]="{'is-invalid':ClientesForm.get('whatsapp').errors }" >
            <span class="text-danger" *ngIf="ClientesForm.get('whatsapp').errors">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
            <label>email</label>
            <input type="text" formControlName="email" class="form-control" maxlength="20" 
            [ngClass]="{'is-invalid':ClientesForm.get('email').errors }" >
            <span class="text-danger" *ngIf="ClientesForm.get('email').errors">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
          </div>             
          <div class="form-group row">  
            <div class="col-md-4">         
           
            <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                voltar<i class="fas fa-reply"></i>
            </button>
            </div>
        </div> 
       </form>
      </div>
  
    </div>
