<h1>pedidoitem</h1>


<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['codigoPedido'] +r['produto.descricao']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.codigoPedido" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="pedidoitem" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>
  

<p *ngIf="!pedidoitem"><em>Loading...</em></p>



<div>
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"    footerHeight="50"
  rowHeight="auto"  headerHeight="50"
  [limit]="10" [sorts]="[{prop: 'name', dir: 'desc'}]">
  <ngx-datatable-column name="Pedido Item">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.codigoPedidoitem}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Pedido">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.codigoPedido}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Produto">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.produto.descricao}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Vl. Item">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.valoritem |  currency:'BRL':true:'1.2-2'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Qtd. Item">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.quantidadeItem}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="status">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.status}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
           <td>
            <button class="btn btn-outline-primary"  (click)="View(row)" placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false" 
            ngbTooltip="View" >
           <i class="fa fa-book"  ></i>
           </button>
           <button class="btn btn-outline-secondary"   (click)="edit(row)" placement="top" ngbTooltip="Edit">
             <i class="fa fa-edit"></i>
             </button>

             <button class="btn btn-outline-info" placement="top"   ngbTooltip="Itens" >
              <i class="fa fa-bars"></i>
              </button>
</span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

</div>
