<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
  <p style="color: white" > Alterando dados... </p>
</ngx-spinner>
<div class="card m-3">
  <h5 class="card-header">Alterar Pedido</h5>
      <div class="card-body">
        
         <form [formGroup]="PedidoForm"  novalidate>
          <button class="btn btn-outline-primary"  (click)="View() " placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false"
          ngbTooltip="Pesquisar Cliente" >
         <i class="fa fa-book"  ></i>
         </button>
          <label for="typeahead-format">Cliente:</label>

          <input   [disabled]="true" type="text" class="form-control"
          formControlName="Cliente"class="form-control col-md-8"
          />
          <hr>
          <input type="hidden"  id="typeahead-format" class="form-control" 
          [ngbTypeahead]="search" [resultFormatter]="formatter3"  [(ngModel)]="model3" 
          formControlName="codigoCliente" />
          <hr>
          <!-- <pre>Model: {{ model | json }}</pre> -->
              <div class="form-group">
           
                <label>dataPedido</label>
                 <input type="date"  formControlName="dataPedido"maxlength="10" class="form-control"
                 [ngClass]="{'is-invalid':PedidoForm.get('dataPedido').errors   && (PedidoForm.get('dataPedido').dirty) ||
                 PedidoForm.get('dataPedido').touched}">
                 <span class="text-danger" *ngIf="PedidoForm.get('dataPedido').errors
                 && (PedidoForm.get('dataPedido').dirty) ||
                      PedidoForm.get('dataPedido').touched">
                   <p>Preencha o campo obrigatorio  </p>
                 </span>
              </div>
              
              <div class="form-group row">
                  <label class="control-label col-md-12" for="Formapagamento">formapagamento</label>
                  <div class="col-md-4">
                      <div *ngIf="(formapagamento$ | async) as formapagamento">
                        
                      <select class="form-control" formControlName="formapagamentoCodigo" 
                      [ngClass]="{'is-invalid':PedidoForm.get('formapagamentoCodigo').errors && (PedidoForm.get('formapagamentoCodigo').dirty) ||
                      PedidoForm.get('formapagamentoCodigo').touched }" >
                          <option  value="0">--Escolha formapagamento--</option>
                          <option *ngFor="let col of formapagamento "    value={{col.codigoFormaPagamento}}>{{col.descricao}}</option>
                      </select>
                      </div>   
                     
                  </div>
                 
                 <span class="text-danger"  *ngIf="PedidoForm.get('formapagamentoCodigo').errors && (PedidoForm.get('formapagamentoCodigo').dirty) ||
                 PedidoForm.get('formapagamentoCodigo').touched ">
                   <p>Preencha o campo obrigatorio  </p>
                 </span>
              </div>
        
            
    <h5 class="card-header">Adicione as Pecas</h5>
    
    <div class="card-body">
      <mat-accordion>
          <mat-expansion-panel>
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                       adicionar produtos
                      </mat-panel-title>                   
                    </mat-expansion-panel-header>
                    <mat-panel-description>
                      <input
                      type="text"
                      class="Bootstrap"
                      placeholder="descricao"
                      (keyup)="ProdutoFilter($event)"
                      />   
                    </mat-panel-description>
                    <mat-panel-description>
                    
                      <ngx-datatable
                      style="width: 90%"
                      class="Bootstrap"
                      [rows]="rows"
                      [columns]="columns"
                      [columnMode]="'force'"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      [rowHeight]="'auto'"
                      [limit]="5"
                      [selected]="selected"
                      [selectionType]="'checkbox'"
                      [selectAllRowsOnPage]="false"
                      (select)='onSelect($event)'
                    >
                    </ngx-datatable>

                   </mat-panel-description>
                    
          </mat-expansion-panel>                              
          <div class="card-body">
            <div class="card m-4">
                      <h4>
                        Itens selecionados <small>({{ selected?.length }})</small>
                      </h4>
                      <ul>
                       
 
                        <li *ngFor="let sel of selected">
                          <!-- {{ sel.codigoProduto }} '-'{{ sel.descricao }} '-'{{ sel.valor }}  -->
                         
                          
                             <div class="form-group row">
                              <div class="row">                           
                             
                              <div class="col">
                                <label> produto</label>
                                <input type="text" maxlength="10" class="form-control" value="{{sel.descricao}}" > 
                              </div>
                              <div class="col">
                                <input type="text" type="hidden"maxlength="10" class="form-control" value="{{sel.codigoProduto}}" >
                                <label>valor produto</label>
                                  <input type="text"  class="form-control"value="{{sel.valor |  currency:'BRL':true:'1.2-2'}}">
                                  
                                 </div>
                              <div class="col">
                                <label>quantidade</label>
                                <input type="text" maxlength="5" value="{{sel.quantidadeItem}}" 
                                class="form-control col-md-4" (change)="onKey($event,sel.codigoProduto)"
                                [ngClass]="{'is-invalid':PedidoForm.get('quantidadeItem').errors && (PedidoForm.get('quantidadeItem').dirty) ||
                              PedidoForm.get('quantidadeItem').touched }">       
                              <span class="text-danger"  *ngIf="PedidoForm.get('quantidadeItem').errors && (PedidoForm.get('quantidadeItem').dirty) ||
                              PedidoForm.get('quantidadeItem').touched  ">
                                <p>Preencha o campo obrigatorio  </p>
                              </span>                              
                              </div>
                              <div class="col">
                                <a href="javascript:void(0)" (click)="removeItem(sel.codigoProduto)"   ngbTooltip="Excluir item"   > <i class="fas fa-trash-alt"></i> </a>                             
                               
                              </div>
                            </div> 
                            </div> 
                          
                            <HR>
                        </li>
                      
                        <li *ngIf="!selected?.length">Nenhum item Selections</li>
                      </ul>
                      <hr>
                      <div class="form-group row">
                        <div class="col">
                          <label>valor Total</label>
                          <input type="text"  formControlName="valor"maxlength="10" class="form-control col-md-2" 
                          currencyMask ="valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }" >
                          
                        </div> 
                    </div>    
            </div>
            <div class="col">
              <a href="javascript:void(0)" (click)="AddItems()"  ngbTooltip="Confirmar item"> <i class="fas fa-plus-circle"></i> </a>  
            </div> 
          </div>                
      </mat-accordion>
    </div>
    <button class="btn btn-primary" (click)="cadastrar()" >Alterar Pedido</button>   
    <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
      voltar<i class="fas fa-reply"></i>
  </button>         
  
        </form> 
      </div>
</div>
