<h1>Pedidos</h1>

<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['codigoPedido'] +r['cliente.nome']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.codigoPedido +r.cliente.nome" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="Pedidos" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>
<p *ngIf="!Pedidos"><em>Loading...</em></p>

<!-- <button class="btn btn-primary" (click)="showStandard()" ngbTooltip="Will disappear in 5s">Standard toast</button>&nbsp;
<button class="btn btn-success" (click)="showSuccess()" ngbTooltip="Will disappear in 10s">Success toast</button>&nbsp; -->


<div>
 
</div>
<div>
  <button type="button" class="btn btn-outline-success" [routerLink]='["/cadastroPedido"]'  ><i class="fas fa-plus-circle"></i></button>    
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"    footerHeight="50"
  rowHeight="auto"  headerHeight="50"
  [limit]="5" [sorts]="[{prop: 'name', dir: 'desc'}]">
  <ngx-datatable-column name="Numero">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.codigoPedido}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Data Pedido">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.dataPedido | date: 'dd/MM/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Forma pag">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.formapagamento.descricao}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Cliente">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.cliente.nome}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Valor">
    <ng-template let-row="row" ngx-datatable-cell-template>
       {{ row.valor |  currency:'BRL':true:'1.2-2'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
           <td>
      <button class="btn btn-outline-primary"  (click)="View(row)" placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false" 
       ngbTooltip="Detalhe" >
      <i class="fa fa-book"  ></i>
      </button>
      <button class="btn btn-outline-secondary"   (click)="edit(row)" placement="top" ngbTooltip="Edit">
        <i class="fa fa-edit"></i>
        </button>

      <button class="btn btn-outline-info" placement="top" (click)="gestao(row)"  ngbTooltip="Itens" >
      <i class="fa fa-bars"></i>
      </button>
</span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

</div>



