<div class="card m-3">
    <h5 class="card-header">Cadastro Pedido</h5>
        <div class="card-body">
          
           <form [formGroup]="PedidoItemForm" (ngSubmit)="submitForm()" novalidate>
             
                <div class="form-group">
             
                  <label>dataPedido</label>
                   <input type="date"  formControlName="dataPedido"maxlength="10" class="form-control">
      
                </div>
                <div class="form-group">
             
                    <label>codigoPedido</label>
                     <input type="text"  formControlName="codigoPedido"maxlength="10" class="form-control">
        
                  </div>
                  <div class="form-group">
             
                    <label>quantidadeItem</label>
                     <input type="text"  formControlName="quantidadeItem"maxlength="10" class="form-control">
        
                  </div>
                  <div class="form-group">
             
                    <label>valoritem</label>
                     <input type="text"  formControlName="valoritem"maxlength="10" class="form-control">
        
                  </div>
              
              
                <div class="form-group">
                  <label>Codigoproduto</label>
                  <input type="text" formControlName="Codigoproduto" class="form-control" maxlength="20">
                
                  <!-- <div class="form-group row">
                    
                     
                      <mat-form-field  class="col-md-4">
                            <input class="form-control" formControlName="codigoCliente" type="text" placeholder="Cliente" aria-label="Number" matInput [matAutocomplete]="auto">
                            <mat-autocomplete #auto="matAutocomplete">
                              <mat-option *ngFor="let option of filteredOptions | async" [value]="option.codigoCliente" >
                                {{option.codigoCliente}}
                              </mat-option>
                            </mat-autocomplete>
                          </mat-form-field>
                     
                  </div> -->

                </div>  
                <button type="submit" class="btn btn-primary">Cadastrar Pedido</button>
        </form> 
        </div>
</div>
