<div class="card m-3">
    <h5 class="card-header">Detalhes Usuarios</h5>
        <div class="card-body">
    
        <!-- Form -->
     
          <h3>Detalhes Usuario</h3>
          <form [formGroup]="UsuarioForm" (ngSubmit)="submitForm()" novalidate>
            
            <div class="form-group">
          
              <label>nomeu suario</label>
              <input type="text" formControlName="nomeusuario" class="form-control" maxlength="20" 
              [ngClass]="{'is-invalid':UsuarioForm.get('nomeusuario').errors }">
              <span class="text-danger" *ngIf="UsuarioForm.get('nomeusuario').errors">
                <p>Preencha o campo obrigatorio  </p>
              </span>
              <label>cpf</label>
              <input type="text" formControlName="cpf" class="form-control" maxlength="20">
            </div>
            <div class="form-group">
              <label>login</label>
              <input type="text" formControlName="login" class="form-control" maxlength="20"   [ngClass]="{'is-invalid':UsuarioForm.get('login').errors }">
              <span class="text-danger" *ngIf="UsuarioForm.get('login').errors">
                <p>Preencha o campo obrigatorio  </p>
              </span>
              <label>senha</label>
              <input type="text" formControlName="senha" class="form-control" maxlength="20"   [ngClass]="{'is-invalid':UsuarioForm.get('senha').errors }">
              <span class="text-danger" *ngIf="UsuarioForm.get('senha').errors">
                <p>Preencha o campo obrigatorio  </p>
              </span>
            </div>
          
    
            <div class="form-group row">  
              <div class="col-md-4">         
           
              
              <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                  voltar<i class="fas fa-reply"></i>
              </button>
              </div>   
            </div>   
          </form>
       
    
      </div>
    </div>
    
