.hero {
    background-image: url('../../../assets/lavibe.png') !important;
    background-size: cover;
    background-position: center center;
  }
  .home .title {
    font-size: 3rem;
    font-weight: 300;
    line-height: 1.2;
}

.home .subtitle {
    font-size: 1.1rem;
}