<h3 style="padding-top: 50px">Login </h3>
<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
  <p style="color: white" > Logando... </p>
</ngx-spinner>
<hr>
<div class="row">
  <div class="col-md-10">
    <form (ngSubmit)="login()" [formGroup]="userForm">


      <div class="alert alert-danger" *ngIf="errors.length > 0">
        <h3 id="msgRetorno">Opa! Alguma coisa não deu certo:</h3>
        <ul>
          <li *ngFor="let error of errors">{{ error }}</li>
        </ul>
      </div>

      <div class="form-group">
        <div class="col-md-10">
          <label class="col-md-2 control-label">E-mail</label>
        <input formControlName="login" class="form-control" type="text" name="login"
        [ngClass]="{'is-invalid':userForm.get('login').errors && (userForm.get('login').dirty 
        || userForm.get('login').touched)}">
        </div>
        <span class="text-danger" *ngIf="userForm.get('login').errors  && (userForm.get('login').dirty 
            || userForm.get('login').touched) ">
              <p>Preencha login </p>
            </span>
      </div>


      <div class="form-group">
        <div class="col-md-10">
        <label class="col-md-2 control-label">Senha</label>
      
        <input formControlName="senha" class="form-control" type="password" name="senha"
        [ngClass]="{'is-invalid':userForm.get('senha').errors && (userForm.get('senha').dirty 
        || userForm.get('senha').touched)}">
      </div>
      <span class="text-danger" *ngIf="userForm.get('senha').errors  && (userForm.get('senha').dirty 
            || userForm.get('senha').touched) ">
              <p>Preencha senha </p>
            </span>
    </div>

      <div class="form-group">
        <input type="submit" value="Login" class="btn btn-primary">
      </div>

    </form>
  </div>
</div>