<div class="card">
  <ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
    <p style="color: white" > Cadastrando... </p>
  </ngx-spinner>
    <div class="card-body">
       <form [formGroup]="TamanhoForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
              <label>descricao</label>
              <input type="text" formControlName="descricao" class="form-control" maxlength="20" 
              [ngClass]="{'is-invalid':TamanhoForm.get('descricao').errors  && (TamanhoForm.get('descricao').dirty 
              || TamanhoForm.get('descricao').touched) }" >
              <span class="text-danger" *ngIf="TamanhoForm.get('descricao').errors  && (TamanhoForm.get('descricao').dirty 
            || TamanhoForm.get('descricao').touched) ">
              <p>Preencha o campo obrigatorio </p>
            </span>
              
            </div>
                  
            <div class="form-group row">  
              <div class="col-md-4">         
              <button type="submit" class="btn btn-outline-success" placement="bottom" ngbTooltip="Confirmar">ok <i class="fas fa-check"></i></button>
              
              <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                  voltar<i class="fas fa-reply"></i>
              </button>
              </div>   
            </div>   
          </form>
    </div>
  </div>