<div class="card">
    <div class="card-body">
       <form [formGroup]="TamanhoForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
              <label>descricao</label>
              <input type="text" formControlName="descricao" class="form-control" maxlength="20" [ngClass]="{'is-invalid':TamanhoForm.get('descricao').errors }" >
             
              
            </div>
                  
            <div class="form-group row">  
              <div class="col-md-4">         
                
              <button  type="submit" class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                  voltar<i class="fas fa-reply"></i>
              </button>
              </div>   
            </div>   
          </form>
    </div>
  </div>
