<div class="card">
    <div class="card-body">
       <form [formGroup]="ProdutoForm" (ngSubmit)="submitForm()" novalidate>
            <div class="form-group">
              <label>descricao</label>
              <input type="text" id="descricao" formControlName="descricao" class="form-control" maxlength="20" 
               [ngClass]="{'is-invalid':ProdutoForm.get('descricao').errors && (ProdutoForm.get('descricao').dirty || ProdutoForm.get('descricao').touched)  }">
              <span class="text-danger" *ngIf="ProdutoForm.get('descricao').errors && (ProdutoForm.get('descricao').dirty || ProdutoForm.get('descricao').touched)  ">
                <p>Preencha o campo obrigatorio  </p>
              </span>              
  
            </div>
            <div class="form-group row">
              <label class="control-label col-md-12" for="Tamanho">Tamanho</label>
              <div class="col-md-4">
                  <div *ngIf="(tamanhos$ | async) as tam">
                    
                  <select class="form-control" formControlName="codigoTamanho" >
                      <option  value="0">--Escolha Tamanho--</option>
                      <option *ngFor="let tama of tam "  value={{tama.codigotamanho}}>{{tama.descricao}}</option>
                  </select>
                  </div>
                 
                 
              </div>
           
             
          </div>
           <div class="form-group row">
              <label class="control-label col-md-12" for="colecao">colecao</label>
              <div class="col-md-4">
                  <div *ngIf="(colecao$ | async) as cole">
                    
                  <select class="form-control" formControlName="codigoColecao" >
                      <option  value="0">--Escolha colecao--</option>
                      <option *ngFor="let col of cole "    value={{col.codigoColecao}}>{{col.descricao}}</option>
                  </select>
                  </div>
                 
                 
              </div>
             
          </div>


            <div class="form-group">
              
            
              <label>valor</label>
              <input type="number" formControlName="valor" class="form-control" maxlength="20" 
               [ngClass]="{'is-invalid':ProdutoForm.get('valor').errors   }">
              <span class="text-danger" *ngIf="ProdutoForm.get('valor').errors && (ProdutoForm.get('valor').dirty || ProdutoForm.get('valor').touched)">
                <p>Preencha o campo obrigatorio  </p>
              </span>
            </div>  
            <div class="form-group row">  
                <div class="col-md-4">         
                <button type="submit" class="btn btn-outline-success" placement="bottom" ngbTooltip="Confirmar">ok <i class="fas fa-check"></i></button>
                
                <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                    voltar<i class="fas fa-reply"></i>
                </button>
                </div>
            </div> 
          </form>
    </div>
  </div>

