<div class="card">
  <div class="card-body">
    <form [formGroup]="ColecaoForm" (ngSubmit)="submitForm()"novalidate >
      <div class="form-group">
        <span class="text-danger" >*</span>
        <label>descricao  {{ColecaoForm.valid}}</label>
        <input type="text"  formControlName="descricao" class="form-control" maxlength="20" 
        [ngClass]="{'is-invalid':ColecaoForm.get('descricao').errors }" >
        <span class="text-danger" *ngIf="ColecaoForm.get('descricao').errors">
          <p>Preencha o campo obrigatorio  {{ColecaoForm.valid}}</p>
        </span>
      </div>
      <div class="form-group">
        <label>dataValidade</label>
         <input type="text"  formControlName="dataValidade"maxlength="10" class="form-control"  
          [ngClass]="{'is-invalid':ColecaoForm.get('descricao').errors }"
          [value]="ColecaoForm.get('dataValidade').value | date:'dd/MM/yyyy'" >
       
        </div>
      
      <!-- <button  class="btn btn-primary" [routerLink]='["/CreateColecao"]'> Voltar</button> Event Binding         -->

      <div class="form-group">
        <p>teste  {{ColecaoForm.valid}}
          
        </p>
        </div>
      <button type="submit" class="btn btn-primary">Voltar</button>
    </form>
  </div>
</div>

