<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
  <p style="color: white" > Cadastro... </p>
</ngx-spinner>

<div class="card m-3">
  <h5 class="card-header">Cadastro Usuarios</h5>
      <div class="card-body">
  
       
        <h3>Cadastrar Usuario</h3>
        <form [formGroup]="UsuarioForm" (ngSubmit)="submitForm()" novalidate>
   
          <div class="form-group">
           
         <label>Nome</label>
            <input type="text" formControlName="nomeusuario" class="form-control" maxlength="20" 
            [ngClass]="{'is-invalid':UsuarioForm.get('nomeusuario').errors && (UsuarioForm.get('nomeusuario').dirty 
            || UsuarioForm.get('nomeusuario').touched)}">
            <span class="text-danger" *ngIf="UsuarioForm.get('nomeusuario').errors  && (UsuarioForm.get('nomeusuario').dirty 
            || UsuarioForm.get('nomeusuario').touched) ">
              <p>Preencha o campo obrigatorio </p>
            </span>
            <label>cpf</label>            
            <input type="number" formControlName="cpf" class="form-control"  maxlength="12" 
           
            [ngClass]="{'is-invalid':UsuarioForm.get('cpf').errors && (UsuarioForm.get('cpf').dirty 
            || UsuarioForm.get('cpf').touched)}">
            <span class="text-danger" *ngIf="UsuarioForm.get('cpf').errors  && (UsuarioForm.get('cpf').dirty 
            || UsuarioForm.get('cpf').touched) ">
              <p>Preencha o campo obrigatorio </p>
            </span>
          </div>
          <div class="form-group">
            <label>login</label>
            <input type="text" formControlName="login" class="form-control" maxlength="20"  
             [ngClass]="{'is-invalid':UsuarioForm.get('login').errors  && (UsuarioForm.get('login').dirty 
             || UsuarioForm.get('login').touched)}">
            <span class="text-danger" *ngIf="UsuarioForm.get('login').errors && (UsuarioForm.get('login').dirty 
            || UsuarioForm.get('login').touched)">
              <p>Preencha o campo obrigatorio  </p>
            </span>
            <label>senha</label>
            <input type="text" formControlName="senha" class="form-control" minlength="4"
             [ngClass]="{'is-invalid':UsuarioForm.get('senha').errors  && (UsuarioForm.get('senha').dirty 
             || UsuarioForm.get('senha').touched)}">
            <span class="text-danger" *ngIf="UsuarioForm.get('senha').errors 
            && (UsuarioForm.get('senha').dirty 
            || UsuarioForm.get('senha').touched)">
              <p>Senha tem que ser maior 3 caracter </p>
            </span>
            <label>Status</label>
            <input type="checkbox" formControlName="status" class="form-control col-md-1" 
             [ngClass]="{'is-invalid':UsuarioForm.get('status').errors  && (UsuarioForm.get('status').dirty 
             || UsuarioForm.get('status').touched)}">
            <span class="text-danger" *ngIf="UsuarioForm.get('status').errors && (UsuarioForm.get('status').dirty 
            || UsuarioForm.get('status').touched)">
              <p>Preencha o campo obrigatorio  </p>
            </span>
          </div>
        
  
          <div class="form-group row">  
            <div class="col-md-4">         
            <button type="submit" class="btn btn-outline-success" placement="bottom" ngbTooltip="Confirmar">ok <i class="fas fa-check"></i></button>
            
            <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                voltar<i class="fas fa-reply"></i>
            </button>
            </div>   
          </div>   
        </form>
     
  
    </div>
  </div>
  