<ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
  <p style="color: white" > Cadastrando... </p>
</ngx-spinner>
<div class="card m-3">
  <h5 class="card-header">Cadastro Pedido</h5>
      <div class="card-body">

         <form [formGroup]="PedidoForm" (ngSubmit)="submitForm()" novalidate>

          <button class="btn btn-outline-primary"  (click)="View() " placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false"
          ngbTooltip="Pesquisar Cliente" >
         <i class="fa fa-book"  ></i>
         </button>
          <label for="typeahead-format">Cliente:</label>
          <!-- <input id="typeahead-format" type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search"
          [resultFormatter]="formatter3" [inputFormatter]="formatter3"
          formControlName="codigoCliente"
          /> -->
          <input  type="text" class="form-control"
          formControlName="Cliente"class="form-control col-md-8"
          />
          <span class="text-danger" *ngIf="PedidoForm.get('Cliente').errors && (PedidoForm.get('Cliente').dirty || PedidoForm.get('Cliente').touched) ">
            <p>Preencha o campo obrigatorio  </p>
          </span>
          <hr>
          <!-- <pre>Model: {{ model | json }}</pre> -->
          <div class="form-group row">
            <div class="col">
                <label>Data Pedido</label>
                 <input type="date"  formControlName="dataPedido"class="form-control col-md-4"
                 [ngClass]="{'is-invalid':PedidoForm.get('dataPedido').errors && (PedidoForm.get('dataPedido').dirty || PedidoForm.get('dataPedido').touched)  }">

                 <span class="text-danger" *ngIf="PedidoForm.get('dataPedido').errors && (PedidoForm.get('dataPedido').dirty || PedidoForm.get('dataPedido').touched) ">
                  <p>Preencha o campo obrigatorio  </p>
                </span>
              </div>

              <div class="col">
                  <label class="control-label col-md-12" for="Formapagamento">Forma pagamento</label>
                  <div class="col-md-4">
                      <div *ngIf="(formapagamento$ | async) as formapagamento">

                      <select class="form-control" formControlName="formapagamentoCodigo"
                      [ngClass]="{'is-invalid':PedidoForm.get('formapagamentoCodigo').errors && (PedidoForm.get('formapagamentoCodigo').dirty || PedidoForm.get('formapagamentoCodigo').touched)  }">
                      >
                          <option  value="0">--Escolha formapagamento--</option>
                          <option *ngFor="let col of formapagamento "    value={{col.codigoFormaPagamento}}>{{col.descricao}}</option>
                      </select>
                      </div>

                  </div>

                 <span class="text-danger" *ngIf="PedidoForm.get('formapagamentoCodigo').errors && (PedidoForm.get('formapagamentoCodigo').dirty || PedidoForm.get('formapagamentoCodigo').touched) ">
                   <p>Preencha o campo obrigatorio  </p>
                 </span>
              </div>
           
          </div>


    <h5 class="card-header">Adicione as Pecas</h5>

    <div class="card-body">
          <mat-accordion>
                  <mat-expansion-panel>
                    <mat-expansion-panel-header >
                      <mat-panel-title>
                       adicionar produtos
                      </mat-panel-title>
                 </mat-expansion-panel-header>
                    <mat-panel-description>
                      <input
                      type="text"
                      class="Bootstrap"
                      placeholder="descricao"
                      (keyup)="ProdutoFilter($event)"
                      />
                    </mat-panel-description>
                    <mat-panel-description>

                      <ngx-datatable
                      style="width: 90%"
                      class="Bootstrap"
                      [rows]="ListaProdutosSelecionado"
                      [columns]="columns"
                      [columnMode]="'force'"
                      [headerHeight]="50"
                      [footerHeight]="50"
                      [rowHeight]="'auto'"
                      [limit]="5"
                      [selected]="selected"
                      [selectionType]="'checkbox'"
                      [selectAllRowsOnPage]="false"
                      (select)='onSelect($event)'
                    >
                    </ngx-datatable>

                   </mat-panel-description>

                  </mat-expansion-panel>


                  <div class="card-body">
                    <div class="card m-4">

                      <h4>
                        Itens selecionados <small>({{ selected?.length }})</small>
                      </h4>
                      <ul>


                        <li *ngFor="let sel of selected">
                          <!-- {{ sel.codigoProduto }} '-'{{ sel.descricao }} '-'{{ sel.valor }}  -->


                             <div class="form-group row">
                              <div class="col">
                                <label> descricao </label>
                                <input type="text" disabled=true   maxlength="10" class="form-control" value="{{sel.descricao}}" >
                              </div>
                             <div class="col">
                                <input type="text" type="hidden" formControlName="codigoProduto"maxlength="10" class="form-control" value="{{sel.codigoProduto}}" >
                                <label>valor produto</label>
                                  <input type="text"   disabled=true class="form-control"value="{{sel.valor |  currency:'BRL':true:'1.2-2'}}">
                             </div>
                              <div class="col">
                                <label>quantidade</label>
                                <input type="number"  formControlName="quantidadeItem"maxlength="5"
                                class="form-control col-md-6" (change)="onKey($event,sel.codigoProduto)"
                               >
                              </div>
                             
                              <div class="col">
                                <!-- <label type="hidden" >Valor por item</label> -->
                                <input type="number" type="hidden"  formControlName="ValorTotalItem" maxlength="5"
                                class="form-control col-md-10" 
                               >

                              </div>
                             
                              <div class="col">
                                <!-- <label>excluir</label> -->
                                <hr>
                                <a href="javascript:void(0)" (click)="removeItem(sel.codigoProduto)"   ngbTooltip="Excluir item"   > <i class="fas fa-trash-alt"></i> </a>
                                <!-- <a href="javascript:void(0)" (click)="AddItem($event)"    > <i class="fas fa-plus-circle"></i> </a> -->
                             </div>
                             <!-- <a href="javascript:void(0)" (click)="remove()" class="btn btn-danger">todos</a> -->
                            </div>
                           
                        </li>
                        <a href="javascript:void(0)" (click)="AddItems()"  ngbTooltip="Confirmar item"> <i class="fas fa-plus-circle"></i> </a>  

 
                        <li *ngIf="!selected?.length">Nenhum Item Selecionados</li>
                      </ul>

                    </div>



                  </div>
                  <div class="form-group">
                    <div class="col">
                      <label>Desconto</label>
                      <select  class="form-control col-md-4"  (change)="changeDesconto()" formControlName="Desconto">
                        <option value="0" disabled>Escolha Desconto</option>
                        <option *ngFor="let Desconto of listdesconto" [ngValue]="Desconto">{{Desconto}}</option>
                         
                     </select>
                  
                
                    </div>
                    <div class="col">
                      <label>Valor Pedido Total</label>
                      <input type="text"  formControlName="valor"maxlength="10" class="form-control col-md-2"
                      currencyMask ="valor" [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
                      >
                      <!-- <input currencyMask [(ngModel)]="value" /> -->
                      <span class="text-danger" *ngIf="PedidoForm.get('valor').errors && (PedidoForm.get('valor').dirty || PedidoForm.get('valor').touched) ">
                        <p>Preencha o campo obrigatorio  </p>
                      </span>
                    </div>
                </div>

           </mat-accordion>
    </div>
    <button type="submit" class="btn btn-primary">Cadastrar Pedido</button>
        </form>
      </div>
</div>
<div>



</div>
