
<ul [ngSwitch]="userLogado()" class="nav navbar-nav navbar-right">
    <li *ngSwitchCase="false"><a  class="nav-link text-dark" [routerLink]="['entrar']">Entrar</a></li>
    <li *ngSwitchCase="true"><a  class="nav-link text-dark">{{ saudacao }}</a></li>
    <li *ngSwitchCase="true" class="nav-item">
        <a class="nav-link text-dark" href="javascript:void(0)" (click)="logout()">
            Sair <span class="fas fa-sign-out-alt"></span></a>
    </li>
</ul>
<!-- <ul class="nav navbar-nav navbar-right">
    <li ><a  class="nav-link text-dark" [routerLink]="['entrar']">Entrar</a></li>
    <li ><a  class="nav-link text-dark">{{ saudacao }}</a></li>
</ul> -->
