<div class="card m-3">
    <h5 class="card-header">Detalhes Pedido</h5>
        <div class="card-body">
          
           <form [formGroup]="PedidoForm" (ngSubmit)="submitForm()" novalidate>
             
            <div class="form-group" >
                <div class="row">
                  <div class="col">
                    <label>Data Pedido</label>
                    <input type="text" formControlName="dataPedido" maxlength="10" class="form-control">
                    
                  </div>
                  <div class="col">
                    <label>Forma pagamento</label>
                      <input type="text" formControlName="formapagamentoCodigo"  maxlength="10" class="form-control">
                  </div>
                  <div class="col">
                    <label>Cliente</label>
                      <input type="text" formControlName="codigoCliente"   class="form-control">
                  </div>
                  
                </div>
                <div class="row">
                  <div class="col">
                 
                      <label>Valor</label>
                        <input type="text" formControlName="valor"    maxlength="10" class="form-control">
                  
                  </div>
                 
                  <div class="col">
                  
                    <label>Status  </label>
                    <input type="text" formControlName="status"  maxlength="10"  class="form-control">
                
                    
                  </div>
                </div>
              </div>
              <hr>
              <!-- <div class="form-group" >
                <div class="row">
                  <div class="col">
                    <label>Pedido Item</label>
                    <input type="text" formControlName="codigoPedidoitem" maxlength="10" class="form-control">
                    
                  </div>
                  <div class="col">
                    <label>Produto</label>
                    <input type="text" formControlName="codigoProduto" maxlength="10" class="form-control">
                    
                  </div>
                  <div class="col">
                    <label>Quat</label>
                    <input type="text" formControlName="quantidadeItem" maxlength="10" class="form-control">
                    
                  </div>
                  <div class="col">
                    <label>valoritem</label>
                    <input type="text" formControlName="valoritem" maxlength="10" class="form-control">
                    
                  </div>
                </div>
            </div> -->
            <table class="table table-striped">
              <thead>
              <tr>
                <th scope="col">Pedido Item</th>               
                <th scope="col">Produto</th>
                <th scope="col">Quat</th>
                <th scope="col">valoritem</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let PI of rowspI">
                <th scope="row">{{ PI.codigoPedidoitem }}</th>
                <td>
                     {{ PI.produto.descricao }}
                </td>
                <td>{{ PI.quantidadeItem }}</td>
                <td>{{ PI.valoritem }}</td>
                
              </tr>
              </tbody>
            </table>
                <button class="btn btn-outline-secondary" placement="bottom" type="submit"  ngbTooltip="Voltar" >
                    voltar<i class="fas fa-reply"></i>
                </button>
            </form>
            
        </div>
    </div>
