<div class="card m-3">
    <h5 class="card-header">Alterar Pedido</h5>
        <div class="card-body">

            <div class="form-group row">  
                <div class="col-md-4">         
                <button type="submit" class="btn btn-outline-success" placement="bottom" ngbTooltip="Confirmar">ok <i class="fas fa-check"></i></button>
                
                <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                    voltar<i class="fas fa-reply"></i>
                </button>
                </div>
            </div> 
    
    </div>
</div>
