<div class="card">
  <div class="card-body">
    <ngx-spinner bdColor ="rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-pulse-rise" [fullScreen] = "true">
      <p style="color: white" > Cadastrando... </p>
    </ngx-spinner>
        <h3>Cadastrar Clientes</h3>
        <form [formGroup]="ClientesForm" (ngSubmit)="submitForm()" novalidate>
          <div class="form-group">
            <label>Nome</label>
            <input type="text" formControlName="nome" class="form-control" maxlength="20"
            [ngClass]="{'is-invalid':ClientesForm.get('nome').errors 
             && (ClientesForm.get('nome').dirty 
            || ClientesForm.get('nome').touched)  }" >
            <span class="text-danger" *ngIf="ClientesForm.get('nome').errors && (ClientesForm.get('nome').dirty 
            || ClientesForm.get('nome').touched) ">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
            <label>Data Nascimento</label>
             <input type="date"  formControlName="dataNascimento"maxlength="10" class="form-control"
             [ngClass]="{'is-invalid':ClientesForm.get('dataNascimento').errors && (ClientesForm.get('dataNascimento').dirty 
             || ClientesForm.get('dataNascimento').touched) }" >
             <span class="text-danger" *ngIf="ClientesForm.get('dataNascimento').errors 
             && (ClientesForm.get('dataNascimento').dirty 
            || ClientesForm.get('dataNascimento').touched) ">
               <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
             </span>
          </div>
          <div class="form-group">
            <label>instagram</label>
            <input type="text" formControlName="instagram" class="form-control" maxlength="20"
            [ngClass]="{'is-invalid':ClientesForm.get('instagram').errors   && (ClientesForm.get('instagram').dirty 
            || ClientesForm.get('instagram').touched) }" >
            <span class="text-danger" *ngIf="ClientesForm.get('instagram').errors  && (ClientesForm.get('instagram').dirty 
            || ClientesForm.get('instagram').touched) ">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
            <label>whatsapp</label>
            <input type="text" formControlName="whatsapp" telefone [textMask]="{mask: MASKS.telefone.textMaskFunction}"  class="form-control" maxlength="20"
            [ngClass]="{'is-invalid':ClientesForm.get('whatsapp').errors  && (ClientesForm.get('whatsapp').dirty 
            || ClientesForm.get('whatsapp').touched) }" >
            <span class="text-danger" *ngIf="ClientesForm.get('whatsapp').errors  && (ClientesForm.get('whatsapp').dirty 
            || ClientesForm.get('whatsapp').touched) ">
              <p>Preencha o campo obrigatorio  {{ClientesForm.valid}}</p>
            </span>
            <label>email</label>
            <input type="text" formControlName="email"  class="form-control" maxlength="20" 
            [ngClass]="{'is-invalid':ClientesForm.get('email').errors  && (ClientesForm.get('email').dirty 
            || ClientesForm.get('email').touched) }" >
            <span class="text-danger" *ngIf="ClientesForm.get('email').errors  && (ClientesForm.get('email').dirty 
            || ClientesForm.get('email').touched) ">
              <p>Preencha o campo obrigatorio {{ClientesForm.valid}}</p>
            </span>
          </div>             
          <div class="form-group row">  
            <div class="col-md-4">         
            <button type="submit" class="btn btn-outline-success" placement="bottom" ngbTooltip="Confirmar">ok <i class="fas fa-check"></i></button>
            
            <button class="btn btn-outline-secondary" placement="bottom" (click)="voltar()"  ngbTooltip="Voltar" >
                voltar<i class="fas fa-reply"></i>
            </button>
            </div>   
          </div>   
           </form>
      </div>
  
    </div>

  <!-- <mat-form-field>
    <input matInput readonly [matDatepicker]="picker" placeholder="Date of birth" formControlName="dob"
    (dateChange)="date($event)">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
 </mat-form-field> -->

  