<h1>Clientes</h1>

<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['nome']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="Clientes" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>
<p *ngIf="!Clientes"><em>Loading...</em></p>
<div>
  <!-- <input
  type="text"
  style="padding:8px;margin:15px auto;width:30%;"
  placeholder=""
  (keyup)="updateFilter($event)"
  />
  </div> -->
  <div>

  <button type="button" class="btn btn-outline-success" [routerLink]='["/CreateCliente"]'  ><i class="fas fa-plus-circle"></i></button>
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"    footerHeight="50"
  rowHeight="auto"  headerHeight="auto"
  [limit]="5" [sorts]="[{prop: 'name', dir: 'desc'}]">
  <ngx-datatable-column name="Nome">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.nome}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Dt Nasc.">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.dataNascimento| date: 'dd/MM/yyyy'}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="instagram">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.instagram}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="whatsapp">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.whatsapp}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Email">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.email}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
         
            <button class="btn btn-outline-primary"  (click)="View(row)" placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false" 
            ngbTooltip="View" >
           <i class="fa fa-book"  ></i>
           </button>
           <button class="btn btn-outline-secondary"   (click)="edit(row)" placement="top" ngbTooltip="Edit">
             <i class="fa fa-edit"></i>
             </button>

             <button class="btn btn-outline-info" placement="top"   ngbTooltip="Itens" >
              <i class="fa fa-bars"></i>
              </button>
      </span>
    </ng-template>
  </ngx-datatable-column>
</ngx-datatable>

</div>








