<h1>Usuario</h1>
<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['nomeusuario']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.nomeusuario" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" 
type="text" 
class="form-control" 
[(ngModel)]="usuarios" 
[ngbTypeahead]="search" 
[resultTemplate]="rt"
  [inputFormatter]="formatter" 
  maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>



<p *ngIf="!usuarios"><em>Loading...</em></p>
<!-- <div>
  <input
  type="text"
  style="padding:8px;margin:15px auto;width:30%;"
  placeholder=""
  (keyup)="updateFilter($event)"
  />
  </div> -->
<!-- <table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" sortable="name"  >nomeusuario</th>
    <th scope="col">cpf</th>
    <th scope="col">login</th>
    <th scope="col">acoes</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let usu of rows">
    <th scope="row">{{ usu.codigoUsuario }}</th>
    <td>
         {{ usu.nomeusuario }}
    </td>
    <td>{{ usu.cpf }}</td>
    <td>{{ usu.login }}</td>
    <td>
      <button type="button" class="btn btn-primary" (click)="openFormModal(usu)">Edit</button>
     </td>
  </tr>
  </tbody>
</table> -->
<!-- <div class="d-flex justify-content-between p-2">
  <ngb-pagination [collectionSize]="collectionSize" [(page)]="page" [pageSize]="pageSize">
  </ngb-pagination>

  <select class="custom-select" style="width: auto" [(ngModel)]="pageSize">
    <option [ngValue]="2">2 items por pag</option>
    <option [ngValue]="4">4 items por pag</option>
    <option [ngValue]="6">6 items por pag</option>
  </select>
</div> -->



<div>
  <button type="button" class="btn btn-outline-success" [routerLink]='["/CreateUsuario"]'  ><i class="fas fa-plus-circle"></i></button>    
  <ngx-datatable class="material" [rows]="rows" [columnMode]="'force'"    footerHeight="50"
  rowHeight="auto"  headerHeight="50"
  [limit]="5" [sorts]="[{prop: 'name', dir: 'desc'}]">
  <ngx-datatable-column name="Nome">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.nomeusuario}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Cpf">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.cpf}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="Login">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.login}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="status">
    <ng-template let-row="row" ngx-datatable-cell-template>
      {{row.status}}
    </ng-template>
  </ngx-datatable-column>
  <ngx-datatable-column name="">
    <ng-template let-row="row" ngx-datatable-cell-template>
      <span>
           <td>
            <button class="btn btn-outline-primary"  (click)="View(row)" placement="top" data-controls-modal=" " data-toggle="jw-modal" data-backdrop="static" data-keyboard="false" 
            ngbTooltip="View" >
           <i class="fa fa-book"  ></i>
           </button>
           <button class="btn btn-outline-secondary"   (click)="edit(row)" placement="top" ngbTooltip="Edit">
             <i class="fa fa-edit"></i>
             </button>

             <button class="btn btn-outline-info" placement="top"   ngbTooltip="Itens" >
              <i class="fa fa-bars"></i>
              </button>
</span>
    </ng-template>
  </ngx-datatable-column> 
</ngx-datatable>

</div>



