
<h1>Clientes</h1>

<ng-template #rt let-r="result" let-t="term">
  <img [src]="'https://upload.wikimedia.org/wikipedia/commons/thumb/' + r['nome']" class="mr-1" style="width: 16px">
  <ngb-highlight [result]="r.nome" [term]="t"></ngb-highlight>
</ng-template>

<label for="typeahead-template">Pesquisar
<input id="typeahead-template" type="text" class="form-control" [(ngModel)]="Clientes" [ngbTypeahead]="search" [resultTemplate]="rt"
  [inputFormatter]="formatter" maxlength="20"
  (keyup)="updateFilter($event)"
   />

  </label>
<p *ngIf="!Clientes"><em>Loading...</em></p>
<div>
  <!-- <input
  type="text"
  style="padding:8px;margin:15px auto;width:30%;"
  placeholder=""
  (keyup)="updateFilter($event)"
  />
  </div> -->
  <div>
    <button type="button" class="btn btn-outline-success" (click)="add()"   ><i class="fas fa-plus-circle"></i></button>
    <ngx-datatable
    style="width: 90%"
    class="Bootstrap"
    [rows]="rows"
    [columns]="columns"
    [columnMode]="'force'"
    [headerHeight]="50"
    [footerHeight]="50"
    [rowHeight]="'auto'"
    [limit]="5"
    [selected]="selected"
    [selectionType]="'checkbox'"
    [selectAllRowsOnPage]="false"
    (select)='onSelect($event)'
  >
  </ngx-datatable>
  
    <button  class="btn btn-outline-secondary" placement="bottom" type="submit" (click)="voltar()"  ngbTooltip="Voltar" >
      voltar<i class="fas fa-reply"></i>
  </button>       
  
</div>








